#nav-block{
    position: relative;
    z-index: 99;
}

#brand{
        a{
            img{
                margin-top: 10px;
                margin-bottom: 10px;
                height: 6rem;
            }
        }
}

#screen-cover{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.4);    
    z-index: -99;
}

#burger-input{
    display: none;
    
    &:checked{
        ~ #nav-main{
            display: block;
         }
        ~ #screen-cover{
            display: block;
        }
    } 
}

#burger-label{
    cursor: pointer;
    display: none; 
    position: absolute;
    top: 4px;
    right: 1rem;
    >span{
        display: block;
        margin: 20px 0;
        height: 3px;
        width: 40px;
        background: black;
        &::before{
            content: "";
            display: block;
            height: 100%;
            width: 40px;
            background: black;
            transform: translateY(10px);
        }
        &::after{
            content: "";
            display: block;
            height: 100%;
            width: 40px;
            background: black;
            transform: translateY(-13px);
        }
    }
}

#nav-main{
    height: initial;
    ul{
        position: relative;
        
        a{
            color: $white;
            font-size: 1.2rem;
            text-shadow: 2px 2px 2px $black;
            display: block;
            &:hover{
                color: $primary-color-4;
            }
        }
    }
    
}



@media (max-width: 700px){
    #nav-block{
        
        flex-direction: column;
        #brand{
            align-self: flex-start;
            img{
                
            }
        }
        #burger-label{
            display: block;
        }
        #nav-main{
            display: none;
            ul{    
                display: block;
                li{                 
                    display: block;
                    text-align: center;
                    a{
                       display: block;
                        width: 100%;
                    }
                }
            }
        }
    }
}